<!DOCTYPE html>
<html>
  <head>
    <title>WDI Potluck Manager</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="https://generalassemb.ly/education/web-development-immersive">WDI Potluck Manager</a>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/new_potluck">Add New Potluck</a></li>
          <li><a href="/new_user">Add New User</a></li>
          <li><a href="/new_tag">Add a New Tag</a></li>
        </ul>
      </div>
    </div>

    <%= yield %>

  </body>
</html>