<!DOCTYPE html>
<html>
  <head>
    <title>WDI Potluck Manager</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <!--link to github or ga website-->
        <a class="brand" href="#">WDI Potluck Manager</a>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/new_potluck">Add New Potluck</a></li>
          <li><a href="/">View All Potlucks</a></li>
        </ul>
      </div>
    </div>

    <%= yield %>

  </body>
</html>